*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-black: #222222;
  --color-white: #ffffff;
  --font-family-title: 'Playfair Display', serif;
  --font-family-body: 'Playfair', serif;
  --font-family-button: 'Raleway', sans-serif;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-family-body);
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  color: inherit;
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: inherit;
}
