*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #759de9;
  --color-secondary: #121212;
  --color-dark-gray: #1f2021;
  --color-white: #ffffff;
  --color-silver-blue: #3d4f61;
  --color-skeleton-gray: #404040;
  --color-success: #86c04c;
  --color-warning: #d99d28;
  --color-error: #db4545;
  --font-family-main: 'Raleway', sans-serif;
  --font-family-secondary: 'Press Start 2P', sans-serif;
}

body {
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-family: var(--font-family-main);
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  color: inherit;
  font: inherit;
}

button {
  cursor: pointer;
  padding-inline: 1rem;
}

a {
  color: inherit;
  text-decoration: inherit;
}
