*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  color: inherit;
  font: inherit;
}

button {
  cursor: pointer;
  padding-inline: 1rem;
}

h1 {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.875rem;
}

a {
  color: inherit;
  text-decoration: inherit;
}
